{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- CSS -->
  <link rel="stylesheet" href="{%static 'css/landing.css'%}">
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!-- Font Awesome -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
  <!-- Font  -->
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Heading -->
  <div class="heading-container container">
    <nav class="navbar navbar-light heading">
      <h1 class="navbar-brand mb-0 h1">Home</h1>
    </nav>
  </div>

  <div class="container">
    <div class="row">
      <div class="col col-lg-4 col-md-12">
        <div class="card">
          <img src="https://image.flaticon.com/icons/svg/809/809939.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Patient</h5>
            <p class="card-text"></p>
            <form id="myForm" action="{% url 'patient:login'%}" method="post">
              {% csrf_token %}
            </form>
            <a href="javascript:void document.getElementById('myForm').submit();" class="btn btn-outline-dark btn-lg"> Patient Login </a>
          </div>
        </div>
      </div>

      <div class="col col-lg-4 col-md-12">
        <div class="card">
          <img src="https://image.flaticon.com/icons/svg/809/809941.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Doctor</h5>
            <p class="card-text"></p>
            <form id="myForm" action="{% url 'doctor:login'%}" method="post">
              {% csrf_token %}
            </form>
            <a href="javascript:void document.getElementById('myForm').submit();" class="btn btn-outline-dark btn-lg"> Doctor Login </a>
          </div>
        </div>
      </div>

      <div class="col col-lg-4 col-md-12">
        <div class="card">
          <img src="https://image.flaticon.com/icons/svg/809/809944.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Admin</h5>
            <p class="card-text"></p>
            <form id="myForm" action="{% url 'administrator:login'%}" method="post">
              {% csrf_token %}
            </form>
            <a href="javascript:void document.getElementById('myForm').submit();" class="btn btn-outline-dark btn-lg"> Admin Login </a>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>

</html>
