{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patient Dashboard</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <!-- Font Awesome -->
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"
    ></script>
    <!-- Font  -->
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Heading -->
    <div class="heading-container container">
      <nav class="navbar navbar-expand-lg navbar-light heading">
        <a class="navbar-brand" href="#">
          <h1 class="h1">Patient Dashboard</h1>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <!-- Navbar -->
            <a class="nav-item nav-link" href="{%url 'patient:logout' %}">Logout</a>
          </div>
        </div>
      </nav>
    </div>

    <!-- Details Form -->
    <div class="container patient-display">
      <!-- Name -->
      <div class="row">
        <div class="col-lg-2 col-md-12 col-sm-12 col-patient-dashboard">
          <h4 style="font-weight: bold;">Name</h4>
        </div>
        <div class="col-lg-9 col-patient-dashboard">
          <h5 class="patient-details">{{name}}</h5>
        </div>
      </div>
      <!-- Patient ID -->
      <div class="row">
        <div class="col-lg-2 col-md-12 col-sm-12 col-patient-dashboard">
          <h4 style="font-weight: bold;" style="font-weight: bold;">
            Patient ID
          </h4>
        </div>
        <div class="col-lg-9 col-patient-dashboard">
          <h5 class="patient-details">{{id}}</h5>
        </div>
      </div>
      <!-- Age -->
      <div class="row">
        <div class="col-lg-2 col-md-12 col-sm-12 col-patient-dashboard">
          <h4 style="font-weight: bold;">Age</h4>
        </div>
        <div class="col-lg-9 col-patient-dashboard">
          <h5 class="patient-details">{{age}}</h5>
        </div>
      </div>
      <!-- Blood Group -->
      <div class="row">
        <div class="col-lg-2 col-md-12 col-sm-12 col-patient-dashboard">
          <h4 style="font-weight: bold;">Blood Group</h4>
        </div>
        <div class="col-lg-9 col-patient-dashboard">
          <h5 class="patient-details">{{bg}}</h5>
        </div>
      </div>
      <!-- Description -->
      <div class="row">
        <div class="col-lg-2 col-md-12 col-sm-12 col-patient-dashboard">
          <h4 style="font-weight: bold;">Description</h4>
        </div>
        <div class="col-lg-9 col-patient-dashboard">
          <h5 class="patient-details">
            {{desc}}
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-12 col-sm-12 col-patient-dashboard">
          <h4 style="font-weight: bold;">Doctor</h4>
        </div>
        <div class="col-lg-9 col-patient-dashboard">
          <h5 class="patient-details">
            {{doctor}}
          </h5>
        </div>
      </div>
    </div>
  </body>
</html>
